$background: #1c1d23;
$surface: #343640;
$primary: #00dbde;
$secondary: #fc00ff;
$tertiary: #598dea;
$quaternary: #9e53f3;
$error: #e63946;
$info: #ffb703;
$success: #16db65;
$warning: #fb8500;

$light: #ffffff;
$dark: #1c1d23;

$light-blur: #ffffff8b;
$dark-blur: #1c1d238b;


// primary: "#00dbde",
// "primary-darken-1": "#187389",
// secondary: "#fc00ff",
// "secondary-darken-1": "#5e8699",